{
    "version": "2018-05-29",
    "operation": "Scan",
    "filter": {
        "expression": "begins_with(PK, :pkPrefix)",
        "expressionValues": {
            ":pkPrefix": { "S": "TAG#" }
        }
    }
}
